{
  "development": {
    "ENV_TYPE": "Running Development",
    "ENV_DEV": "Development",
    "API_URL": "http://starter-kit/api/",
    "CLIENT_ID": 2,
    "CLIENT_SECRET": "sFKCIaMm0CcttGi21C2d3nYfzebevgB4owYad5SM"
  },
  "production": {
    "ENV_TYPE": "Running Production",
    "ENV_PROD": "Production"
    "API_URL": "",
    "CLIENT_ID": "",
    "CLIENT_SECRET": ""
  },
  "test": {
    "ENV_TYPE": "Running Test",
    "ENV_Test": "Test"
  }
}
